# ============================================================
# Secrets - JANGAN commit file ini ke git!
# ============================================================

# ==========================================
# BINANCE API KEYS
# ==========================================
# Real/Live Account Keys
BINANCE_API_KEY=your_real_api_key_here
BINANCE_API_SECRET=your_real_api_secret_here

# Testnet/Demo Account Keys
BINANCE_TESTNET_KEY=your_testnet_api_key_here
BINANCE_TESTNET_SECRET=your_testnet_api_secret_here

# ==========================================
# KONFIGURASI TELEGRAM (NOTIFIKASI)
# ==========================================
# Token Bot Telegram (Dapat dari @BotFather)
TELEGRAM_TOKEN=

# Chat ID tujuan notifikasi (Gunakan @userinfobot untuk cek ID)
TELEGRAM_CHAT_ID=

# (Opsional) Thread ID jika menggunakan Group dengan Topics
# Kosongkan jika tidak menggunakan fitur topic
TELEGRAM_MESSAGE_THREAD_ID=

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=bot_emacross_cci
MONGO_COLLECTION_NAME=trades_02_2026
