# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Env secrets
.env

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

ema_cci_bot.egg-info
pytest_err.log
